{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  {% block meta_extras %}
  <meta name="description" content="Dr. Juan Rossi - Centros y Estudios Odontológicos - Santa Clara De Buena Vista">
  {% endblock meta_extras %}
  <meta name="author" content="Dr. Juan Rossi">
	<meta name="copyright" content="&copy; Dr. Juan Rossi - Centros y Estudios Odontológicos">
  <meta name="email" content="jr.ceo@hotmail.com.ar">
  <meta name="robots" content="index">
  <meta name="keywords" content="Odontología, Ortodoncias, Endodoncias, Implantes">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 

  <!-- Title -->
  <title>Dr. Juan Rossi - {% block title %}Inicio{% endblock title %}</title>

  <!-- Favicon -->
  <link rel="icon" href="{% static 'website/img/core-img/favicon.ico' %}">

  <!-- Core Stylesheet -->
  <link rel="stylesheet" href="{% static 'website/css/style.css' %}">

</head>

<body>
  <!-- Preloader -->
  <div id="preloader">
    <div class="preload-content">
      <div id="dento-load"></div>
    </div>
  </div>

  <!-- ***** Header Area Start ***** -->
  <header class="header-area">
    <!-- Top Header Area -->
    <div class="top-header-area">
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <!-- Top Content -->
          <div class="col-6 col-md-9 col-lg-8">
            <div class="top-header-content">
              <a href="{% url 'contact' %}" data-toggle="tooltip" data-placement="bottom" title="Rosario 395, Santa Clara De Buena Vista"><i class="fa fa-map-marker"></i> <span>Rosario 395, Santa Clara De Buena Vista</span></a>
              <a href="{% url 'contact' %}" data-toggle="tooltip" data-placement="bottom" title="3404 493-407 | 3404-504730"><i class="fa fa-phone"></i> <span>3404-493-407 | 3404-504730</span></a>
            </div>
          </div>
          <!-- Top Header Social Info -->
          <div class="col-6 col-md-3 col-lg-4">
            <div class="top-header-social-info text-right">
              <a href="https://www.instagram.com/juanrossi27/" target="_blank" rel="noopener noreferrer" data-toggle="tooltip" data-placement="bottom" title="Instagram"><i class="fa fa-instagram"></i></a>
              <a href="https://www.facebook.com/juan.rossi.7543/" target="_blank" rel="noopener noreferrer" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Top Header End -->

    <!-- Main Header Start -->
    <div class="main-header-area">
      <div class="classy-nav-container breakpoint-off">
        <div class="container">
          <!-- Classy Menu -->
          <nav class="classy-navbar justify-content-between" id="dentoNav">

            <!-- Logo -->
            <a class="nav-brand" href="{% url 'home' %}"><img src="{% static 'website/img/core-img/logo_ceo.png' %}" alt=""></a>

            <!-- Navbar Toggler -->
            <div class="classy-navbar-toggler">
              <span class="navbarToggler"><span></span><span></span><span></span></span>
            </div>

            <!-- Menu -->
            <div class="classy-menu">

              <!-- Close Button -->
              <div class="classycloseIcon">
                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
              </div>

              <!-- Nav Start -->
              <div class="classynav">
                <ul id="nav">
                  <li><a href="{% url 'home' %}">Inicio</a></li>
                  <li><a href="{% url 'about' %}">Nosotros</a></li>
                  <li><a href="{% url 'service' %}">Servicios</a></li>
                  <li><a href="{% url 'blog' %}">Blog</a></li>
                  <li><a href="{% url 'contact' %}">Contacto</a></li>
                </ul>
              </div>
              <!-- Nav End -->
            </div>

            <!-- Booking Now Button -->
            <a href="{% url 'contact' %}" class="btn dento-btn booking-btn">Consulta por turnos</a>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

{% block content %}

{% endblock %}


<!-- ***** Footer Area Start ***** -->
<footer class="footer-area bg-img bg-gradient-overlay" style="background-image: url({% static 'website/img/bg-img/35.jpg' %});">
    <div class="container">
      <div class="row">
        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-footer-widget">
            <a href="{% url 'home' %}" class="d-block mb-4"><img src="{% static 'website/img/core-img/logo_ceo.png' %}" alt=""></a>
            <p>Nosotros cuidamos tu sonrisa, vos cuida tu salud.</p>
            <div class="footer-contact">
              <p><i class="icon_pin"></i> Rosario 395, Santa Clara De Buena Vista</p>
              <p><i class="icon_phone"></i> 493-407 / 3404-504730</p>
              <p><i class="icon_mail"></i> jr.ceo@hotmail.com.ar</p>
            </div>
          </div>
        </div>

        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6 col-lg">
          <div class="single-footer-widget">
            <!-- Widget Title -->
            <h5 class="widget-title">Horarios</h5>

            <!-- Opening Hours -->
            <ul class="opening-hours">
              <li><span>Lunes - Jueves</span> <span>8.00-18.00</span></li>
              <li><span>Viernes</span> <span>8.00-17.00</span></li>
              <li><span>Sábado</span> <span>Cerrado</span></li>
              <li><span>Domingo</span> <span>Cerrado</span></li>
            </ul>
          </div>
        </div>

        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6 col-lg">
          <div class="single-footer-widget">
            <!-- Widget Title -->
            <h5 class="widget-title">Links</h5>

            <!-- Quick Links Nav -->
            <nav>
              <ul class="quick-links">
                <li><a href="{% url 'home' %}">Inicio</a></li>
                <li><a href="{% url 'about' %}">Nosotros</a></li>
                <li><a href="{% url 'service' %}">Servicios</a></li>
                <li><a href="{% url 'blog' %}">Blog</a></li>
                <li><a href="{% url 'contact' %}">Cómo Llegar</a></li>
                <li><a href="{% url 'contact' %}">Turnos</a></li>
              </ul>
            </nav>
          </div>
        </div>

        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6 col-lg">
          <div class="single-footer-widget">
            <!-- Widget Title -->
            <h5 class="widget-title">Consultas</h5>

            <p>Recordá que si necesitas contactarnos o queres consultar por disponibilidad de turnos:</p>
            <!-- Newsletter Form -->
            <div>
              <a href="{% url 'contact' %}" class="btn dento-btn">hace click acá</a>
            </div>
            <br>
            <!-- Social Info -->
            <div class="footer-social-info">
              <a href="https://www.instagram.com/juanrossi27/" target="_blank" rel="noopener noreferrer" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="fa fa-instagram"></i></a>
              <a href="https://www.facebook.com/juan.rossi.7543/" target="_blank" rel="noopener noreferrer" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Copywrite Area -->
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="copywrite-content">
            <p>CEO | Consultorios y Estudios Odontológicos | Dr. Juan Rossi</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- ***** Footer Area End ***** -->

  <!-- ******* All JS ******* -->
  <!-- jQuery js -->
  <script src="{% static 'website/js/jquery.min.js' %}"></script>
  <!-- Popper js -->
  <script src="{% static 'website/js/popper.min.js' %}"></script>
  <!-- Bootstrap js -->
  <script src="{% static 'website/js/bootstrap.min.js' %}"></script>
  <!-- All js -->
  <script src="{% static 'website/js/dento.bundle.js' %}"></script>
  <!-- Active js -->
  <script src="{% static 'website/js/default-assets/active.js' %}"></script>

</body>

</html>
